proxmox-csi/helm-values.yaml filter=git-crypt diff=git-crypt
nodes/k3s.yaml filter=git-crypt diff=git-crypt
k8up/secrets.yaml filter=git-crypt diff=git-crypt
ho/lldap/secrets-app.yaml filter=git-crypt diff=git-crypt
ho/lldap/secrets-db.yaml filter=git-crypt diff=git-crypt
ho/qbt/storage/secret-smb.yaml filter=git-crypt diff=git-crypt
deployment/tasks.txt filter=git-crypt diff=git-crypt
cloudflare/deploy.yaml filter=git-crypt diff=git-crypt
cert-manager/hyvel-dns01-token.yaml filter=git-crypt diff=git-crypt
cert-manager/hyveldns01-issuer.yaml filter=git-crypt diff=git-crypt
public/anubis/secrets-app.yaml filter=git-crypt diff=git-crypt
public/authelia/keys/** filter=git-crypt diff=git-crypt
public/authelia/config-app.yaml filter=git-crypt diff=git-crypt
public/authelia/secrets-app.yaml filter=git-crypt diff=git-crypt
public/authelia/secrets-db.yaml filter=git-crypt diff=git-crypt
public/immich/secrets-app.yaml filter=git-crypt diff=git-crypt
public/immich/secrets-db.yaml filter=git-crypt diff=git-crypt
public/vaultwarden/secrets-app.yaml filter=git-crypt diff=git-crypt
public/vaultwarden/secrets-db.yaml filter=git-crypt diff=git-crypt
public/xui/ingress.yaml filter=git-crypt diff=git-crypt
public/hyvel/secrets-app.yaml filter=git-crypt diff=git-crypt
public/anubis/config-app.yaml filter=git-crypt diff=git-crypt