apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: rate-limiter
  namespace: traefik
spec:
  rateLimit:
    average: 10
    burst: 20
    period: 1s
    sourceCriterion:
      ipStrategy:
        depth: 0
